body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #121212; /* Spotify color theme */
    color: white;
    background-image: url('../img/Screenshot\ 2023-11-15\ 115858.png'); /* Adjust the path as per your project structure */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}

header {
    background: #1DB954; /* Spotify brand color */
    padding: 10px 0;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #121212;
}

.intro-section {
    text-align: center;
    padding: 50px 20px;
}

.features-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.feature {
    background: #282828; /* Dark theme cards */
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    box-shadow: 0 4px 8px #06270033;
    text-align: center;
}

.feature h2 {
    color: #1DB954; /* Spotify brand color */
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #181818; /* Footer background */
}

footer p {
    color: #686868;
}
