body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #121212; /* Spotify color theme */
  color: white;
  background-image: url('../img/Screenshot\ 2023-11-15\ 115858.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}


#titleLiked {
  color: #1DB954;
  font-size: 36px; 
  text-align: center;
  margin-top: 20px;
  margin-left: 20px; 
}

.button-container {
  text-align: center; /* Center the buttons horizontally */
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  align-items: center; /* Center the buttons vertically */
  height: 100vh; /* Center vertically within the viewport */
}

.bigger-button {
  font-size: 24px; /* Increase the button text size */
  padding: 20px 40px; /* Increase button padding for bigger size */
  margin: 10px 0; /* Add spacing between buttons */
}
