<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotiSort - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link id="logo" href="{{ url_for('static', filename='img/SpotiSort.png') }}">


</head>
<body>
    <div class="login-wrapper">
        <div class="login-box">
            <img src="../static/img/SpotiSort.png">
            <form method="post" action="/">
                <div class="input-group">
                    <button type="submit">Next</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>