<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/playlistCreate_style.css') }}">
    <title>Sorted Playlist</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4">Sorted Playlist</h1>
        {% for category, songs in playlist.items() %}
            {% if songs %}
                <div class="category">
                    <h2>{{category}}</h2>
                    <ul class="list-group">
                        {% for song in songs.songs %}
                            <li class="list-group-item">{{ song }}</li>
                        {% endfor %}
                    </ul>
                    <div class="text-center button-group">
                        <form method="POST"  action="{{url_for('create_playlist')}}" class="d-inline">
                            <input type="hidden" name="song_list" value="{{songs.song_uri}}">
                            <input type="hidden" name="playlist_name" value="{{category}}">
                            <input type="hidden" name="playlist" value="{{playlist}}">
                            <button type="submit" class="btn btn-success">Create Playlist</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
